/* customer_index.js and customer_index_table.js */

/* ------------------------------------------------------------------------- */
.index {
  /* The main div for the customer_index component */
  margin-top: 2%;

}


#tableDiv {
  /* This is the main div for the table itself */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  padding: 10px;
  margin-bottom: 2%;
}



table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
  vertical-align: top;
}

table {
  margin: auto;
  width: 82vw;
  max-height: 90vh;

  background-color: #1111;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  margin-bottom: 5vh;
  overflow: hidden;
}

thead {
  tr:first-of-type {
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: #fff5;
    font-size: 150%;
  }
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

//This below is for the button on the table that takes you to the individual contact page
.see_contact_button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.see_contact_button:hover {
  background-color: #acff;
}

/* ------------------------------------------------------------------------- */

/* new.js for customers and workers */

/* ------------------------------------------------------------------------- */

.form-title {
  text-align: center;
}

/* Form container */
.form-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form field container */
.form-field-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Form field */
.form-field {
  flex: 1 1 50%;
  /* Two columns, adjust as needed */
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea,
.form-field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Form button */
.form-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3F3B5C;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.form-button:hover {
  background-color: #3F3B3C;
}

/* Custom select container */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  /* Adjust the width as needed */
}

/* Hide default arrow */
.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

/* Custom select arrow */
.custom-select::after {
  content: "\25BC";
  /* Unicode for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none;
}

/* Custom select styles on focus */
.custom-select select:focus {
  outline: none;
  border-color: #888;
}

/* Custom select styles on hover */
.custom-select:hover select {
  border-color: #999;
}

/* Custom select styles when option is selected */
.custom-select select option:checked {
  background-color: #e5e5e5;
}

/* Custom select styles for dropdown */
.custom-select select::-ms-expand {
  display: none;
  /* Hide default arrow in IE/Edge */
}

label,
input {
  /* We use labels and inputs in the new page so we do stuff to it here */
  display: block;
}

label {
  /* We use labels in the new page so we do stuff to it here */
  margin-bottom: 1em;
  padding: 1em;
}

.red_asterisk {
  color: red;
}

.submit_new_button {
  /* The submit button for the new customer */
  margin-left: 1em;
}



#admin {
  display: inline;
  width: 100px;
  margin-left: -40px;
}



.new_messages {
  /* The errors that occur on the new page */
  margin-left: 10px;
}


/* ------------------------------------------------------------------------- */


/* show.js */

/* ------------------------------------------------------------------------- */

.rendered-content {
  display: flex;
  flex-wrap: wrap;

  .rendered-content__item {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: 30px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;

    .rendered-content__title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .rendered-content__content {
      font-size: 14px;
      color: #333;
      flex-grow: 1;
      /* Allow content to expand vertically */
    }
  }
}

#workers-list-div {
  overflow-y: scroll;
  max-height: 80%;
}

#notes-div {
  margin: 30px;
}

#customer_chosen_notes {
  /* The notes of the chosen customer */
  white-space: pre-line;
  line-height: 30px;
}

#notes_textarea {
  width: 60%;
  height: 150px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  /* Add more styles as needed */
}

.inaccessible {
  /* If the main section of the show page is inaccessible, we do this to it */
  pointer-events: none;
  opacity: 20%;
}

.confirm_invisible {
  /* If the confirm box of the show page is invisible, we do this to it */
  pointer-events: none;
  opacity: 0%;
}

#deletion_button {
  /* The deletion button itself */
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

}

#confirm_box {
  /* The confirm box itself */
  width: 30%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  background-color: tan;
}

.confirm_box_button {
  /* The class for the buttons in the confirm box */
  margin: 10px;
  width: 100px;
}

#confirm_message {
  /* The actual confirm message text */
  color: black;
}

#select_search {
  width: 300px;
}

#buttons_div {
  display: flex;
  flex-direction: column;
}

#buttons_div button {
  margin-left: 100px;
  margin-bottom: 10%;
  width: 30%;
}




/* search.js */

/* ------------------------------------------------------------------------- */


#search-title {
  text-align: center;
}


#menuStyles {
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  color: #333;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;

}


#menuStyles::-webkit-scrollbar {
  width: 100px;
  /* Width of the scrollbar */
}


#menuStyles::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  /* Background color of the track */
}

#menuStyles::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the thumb */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 200px;

  &__input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__menu {
    position: absolute;
    top: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 4px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;

    &.open {
      display: block;
    }
  }

  &__item {
    padding: 8px;

    &.highlighted {
      background-color: #f2f2f2;
    }
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  &__group {
    margin-bottom: 20px;

    & label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    & input,
    & textarea,
    & select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      width: 100%;

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }

    & input {
      margin-left: 10%;
      width: 190%;
    }
  }

  &__button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #0069d9;
    }
  }
}



/* ------------------------------------------------------------------------- */

/* forbidden.js */

/* ------------------------------------------------------------------------- */

#Forbidden {
  text-align: center;
}

/* home.js */

#center {
  text-align: center;
}